@import 'globals.scss';
// https://autoprefixer.github.io/

h1 {
	color: $text-light;
	margin: 0px;
	padding: 0px;
	font-size: calc(55px + 2vmin);
	font-weight: 700;
}

h2 {
	color: $text-dark;
	margin: 10px 0px;
	padding: 0px;
	font-size: calc(25px + 2vmin);
}

h3 {
	color: $text-dark;
	margin: 0px;
	padding: 0px;
	font-size: calc(16px + 2vmin);
}

h4 {
	color: $text-medium;
	margin: 0px;
	padding: 0px;
	font-size: calc(10px + 2vmin);
}

p {
	color: $text-medium;
	margin: 6px 0px;
	padding: 6px 0px;
}

.divider {
	margin: 10px 0px 10px 0px;
	height: 2px;
	width: 100%;
	background-color: $mainBG-divider;
	&.small {
		width: 20%;
	}
	&.medium {
		width: 40%;
	}
	&.large {
		width: 80%;
	}
}

.quote {
	color: $text-medium;
	padding-left: 50px;
	// padding-right: 50px;
	// background-color: $
}

.main-container {
	> :nth-child(even) {
		background-color: $mainBG-dark;
	}
}

.header {
	height: $header-height;
	padding: 0 $content-vertical-spacing;
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	color: $text;
	border-bottom: solid $mainBG-black 2px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	position: -webkit-sticky; /* Safari */
	position: sticky;

	.navbarTab {
		margin: 0px 3px;
		color: $text;
		text-decoration: none;
	}

	.active {
		color: $primary-color;
	}

	& :hover {
		color: $primary-color;
		cursor: pointer;
	}
}

.page {
	background: $mainBG;
	padding: 40px $content-vertical-spacing;

	> * {
		padding: 0px 10px;
	}
}

.banner {
	background-image: url('./../../statics/images/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 55vh;

	.icon-container {
		.icon {
			font-size: calc(40px + 2vmin);
			margin: 15px 8px;
			color: $text-light;
			cursor: pointer;
		}

		& :hover {
			filter: brightness(80%);
		}

		& :first-child {
			margin-left: 0px;
		}
	}
}

.intro {
	display: flex;
	flex-direction: row;

	.left-container {
		flex: 1;
	}

	.right-container {
		flex: 6;
		// margin-left: 40px;
	}
}

.about {
	display: flex;
	flex-direction: row;

	div + div {
		margin-left: 20px;
	}

	.grouping {
		flex: 1;
		flex-direction: column;

		img {
			width: 100%;
			height: auto;
			// background-color: red;
		}
	}
}

.skills {
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		// overflow: hidden;
		// text-align: center;

		div + div {
			margin-left: 10px;
		}

		.item {
			padding: 20px;
			flex: 1;
			min-height: 250px;
			margin-bottom: 10px;
			transition: all 0.5s ease;
		}

		.divider {
			width: 0px;
			height: 2px;
			background-color: $mainBG-divider;
			transition: all 0.5s ease;
		}

		& > :hover {
			background-color: $mainBG-dark;
			padding: 40px 20px 0px 20px;
			p {
				color: $text-dark;
			}
			h3 {
				color: $primary-color;
			}
			.divider {
				width: 100%;
			}
		}
	}
}

.experience {
	.jobs {
		display: flex;
		flex-direction: row;

		.job {
			flex: 1;
			border-top: 1px solid $mainBG-divider;
			border-left: 1px solid $mainBG-divider;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 20px;
			padding: 8px;
			transition: all 0.5s ease;
		}
		> *:hover {
			background-color: $mainBG;
			padding: 14px 8px 2px 8px;
		}

		div ~ div {
			margin-left: 20px;
		}
	}
}

.project-list {
	a {
		margin-top: auto;
		// background-color: red;
		width: auto;
		text-decoration: none;
		color: $text-medium;
		font-weight: bold;
	}

	.project-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		// text-align: center;

		div + div {
			margin-left: 10px;
		}

		& :hover {
			// background-color: $mainBG-dark;
			h3,
			p,
			a {
				color: $mainBG-black;
				// padding: 0px;
			}
			.img {
				-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
				filter: grayscale(0%);
				padding: 0px;
				width: 200px;
				border-radius: 38px;
			}
		}

		.project {
			flex: 1;
			display: flex;
			flex-direction: column;

			img {
				-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
				filter: grayscale(100%);
				width: 180px;
				height: auto;
				// cursor: pointer;
				padding: 10px;
				border-radius: 40px;
				transition: all 0.5s ease;
			}
			// & :hover {
			// 	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
			// 	filter: grayscale(0%);
			// 	padding: 0px;
			// 	width: 200px;
			// 	border-radius: 38px;
			// }
		}
	}

	.project-insight {
		width: 100%;
		background-color: red;
		transition: all 1s ease;
		height: 0px;
		visibility: hidden;
		overflow: hidden;
		> * {
			transition: all 1s ease;
			visibility: hidden;
		}
	}
	.active {
		transition: all 1s ease;
		min-height: 200px;
		height: auto;
		visibility: visible;
		transition: all 1s ease;
		> * {
			transition: all 1s ease;
			visibility: visible;
		}
	}
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 2px solid $mainBG-divider;

	> * {
		flex: 1;
	}
}
