@import 'globals.scss';
// https://autoprefixer.github.io/

h1 {
	color: $text-light;
	margin: 0px;
	padding: 0px;
	font-size: calc(55px + 2vmin);
	font-weight: 700;
}

h2 {
	color: $text-dark;
	margin: 10px 0px;
	padding: 0px;
	font-size: calc(25px + 2vmin);
}

h3 {
	color: $text-dark;
	margin: 0px;
	padding: 0px;
	font-size: calc(12px + 2vmin);
}

p {
	color: $text-medium;
	margin: 6px 0px;
	padding: 6px 0px;
}

// div {
// 	transition: all 0.5s ease;
// }

.main-container {
	> :nth-child(even) {
		background-color: $mainBG-dark;
	}
}

.header {
	height: $header-height;
	padding: 0 $content-vertical-spacing;
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	color: $text;
	border-bottom: solid $mainBG-black 2px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	position: -webkit-sticky; /* Safari */
	position: sticky;

	.navbarTab {
		margin: 0px 3px;
		color: $text;
		text-decoration: none;
	}

	.active {
		color: $primary-color;
	}

	& :hover {
		color: $primary-color;
		cursor: pointer;
	}
}

.page {
	background: $mainBG;
	padding: 40px $content-vertical-spacing;

	> * {
		padding: 0px 10px;
	}
}

.banner {
	background-image: url('./../../statics/images/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 55vh;

	.divider {
		margin: 10px 0px 0px 10px;
		height: 1px;
		width: 40vw;
		background-color: $mainBG-divider;
	}

	.icon-container {
		color: $text-light;

		.icon {
			font-size: calc(40px + 2vmin);
			margin: 15px 8px;
			cursor: pointer;
		}

		& :hover {
			filter: brightness(50%);
		}

		& :first-child {
			margin-left: 0px;
		}
	}
}

.intro {
	display: flex;
	flex-direction: row;

	.left-container {
		flex: 1;
	}

	.right-container {
		flex: 6;
		// margin-left: 40px;
	}
}

.about {
	display: flex;
	flex-direction: row;

	div + div {
		margin-left: 20px;
	}

	.grouping {
		flex: 1;
		flex-direction: column;

		img {
			width: 100%;
			height: auto;
			// background-color: red;
		}
	}
}

.skills {
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		// text-align: center;

		div + div {
			margin-left: 10px;
		}

		.item {
			padding: 20px;
			flex: 1;
			height: 250px;
			margin-bottom: 10px;
			transition: all 0.5s ease;
		}

		.divider {
			width: 0px;
			height: 2px;
			background-color: $mainBG-divider;
			transition: all 0.5s ease;
		}

		& > :hover {
			background-color: $mainBG-dark;
			padding: 40px 20px 0px 20px;
			p {
				color: $text-dark;
			}
			h3 {
				color: $primary-color;
			}
			.divider {
				width: 100%;
			}
		}
	}
}

.background {
}

.project-list {
	.project-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		// text-align: center;

		div + div {
			margin-left: 10px;
		}
		.project {
			flex: 1;
			// margin: 0px 0px;
			// background-color: $mainBG-dark;

			img {
				-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
				filter: grayscale(100%);
				width: 180px;
				height: auto;
				cursor: pointer;
			}
			& :hover {
				-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
				filter: grayscale(0%);
			}
		}
	}
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 2px solid $mainBG-divider;

	> * {
		flex: 1;
	}
}
