@import 'globals.scss';
// https://autoprefixer.github.io/

h1 {
	color: $text-light;
	margin: 0px;
	padding: 0px;
	font-size: calc(55px + 2vmin);
	font-weight: 700;
}

h2 {
	color: $text-dark;
	margin: 10px 0px;
	padding: 0px;
	font-size: calc(25px + 2vmin);
}

h3 {
	color: $text-dark;
	margin: 0px;
	padding: 0px;
	font-size: calc(16px + 2vmin);
}

h4 {
	color: $text-medium;
	margin: 0px;
	padding: 0px;
	font-size: calc(10px + 2vmin);
}

a {
	margin-top: auto;
	// background-color: red;
	width: auto;
	text-decoration: none;
	color: $text-medium;
	font-weight: bold;
}

p {
	color: $text-medium;
	margin: 6px 0px;
	padding: 6px 0px;
}

.divider {
	margin: 10px;
	height: 2px;
	width: 95%;
	background-color: $mainBG-divider;
	box-sizing: border-box;
	&.small {
		width: 20%;
	}
	&.medium {
		width: 40%;
	}
	&.large {
		width: 80%;
	}
}

.quote {
	color: $text;
	padding: 0px 40px;
	margin: 0px 40px;

	.block {
		display: flex;
		flex-direction: row;
		.quotation {
			font-size: calc(80px + 2vmin);
		}
	}
	.speaker {
		text-align: end;
		margin-top: 0px;
		padding-top: 0px;
	}
}

.main-container {
	box-sizing: border-box;
	margin: 0px;

	> :nth-child(even) {
		background-color: $mainBG-dark;
	}
}

.header {
	height: $header-height;
	padding: 0 $content-vertical-spacing;
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	color: $text;
	border-bottom: solid $mainBG-black 2px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	position: -webkit-sticky; /* Safari */
	position: sticky;

	.navbarTab {
		margin: 0px 3px;
		color: $text;
		text-decoration: none;
	}

	.active {
		color: $primary-color;
	}

	& :hover {
		color: $primary-color;
		cursor: pointer;
	}

	@media screen and (max-width: $mobile-breakpoint) {
		height: 0px;
		overflow: hidden;
		border-bottom: 0px;
	}
}

.page {
	background: $mainBG;
	padding: 40px $content-vertical-spacing;

	> * {
		padding: 0px 10px;
	}
}

.banner {
	background-image: url('./../../statics/images/bg2.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 55vh;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);

	.icon-container {
		.icon {
			font-size: calc(40px + 2vmin);
			margin: 15px 8px;
			color: $text-light;
			cursor: pointer;
		}

		& :hover {
			filter: brightness(80%);
		}

		& :first-child {
			margin-left: 0px;
		}
	}
}

.intro {
	display: flex;
	flex-direction: column;

	.containers {
		display: flex;
		flex-direction: row;
		.left {
			flex: 1;
		}

		.right {
			flex: 6;
		}
	}

	@media screen and (max-width: $mobile-breakpoint) {
		.containers {
			flex-direction: column;
		}
	}
}

.about {
	display: flex;
	flex-direction: row;

	div + div {
		margin-left: 20px;
	}

	.grouping {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		img {
			width: 100%;
			height: auto;
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
		}
	}

	@media screen and (max-width: $mobile-breakpoint) {
		flex-direction: column;
		div + div {
			margin-left: 0px;
		}
		.grouping {
			flex-direction: row;

			img {
				width: 0px;
				height: 0px;
			}

			h3 + p {
				padding-left: 10px;
			}
		}
	}
}

.skills {
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-flow: row wrap;

		.item {
			padding: 40px 20px 0px 20px;
			flex: 1;
			min-height: 200px;
			min-width: 200px;
			margin-bottom: 10px;
			transition: all 0.5s ease;
		}

		.divider {
			width: 0px;
			height: 2px;
			margin-left: 0px;
			background-color: $mainBG-divider;
			transition: all 0.5s ease;
		}

		& > :hover,
		& > :active,
		& > :focus {
			background-color: $mainBG-dark;
			padding: 20px;
			p {
				color: $text-dark;
			}
			h3 {
				color: $primary-color;
			}
			.divider {
				width: 100%;
			}
		}
	}
}

.experience {
	.jobs {
		display: flex;
		flex-direction: row;
		flex-flow: row wrap;

		.job {
			flex: 1;
			border-top: 1px solid $mainBG-divider;
			border-left: 1px solid $mainBG-divider;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 20px;
			padding: 14px 8px 2px 8px;
			transition: all 0.5s ease;
			min-width: 200px;
			margin-top: 10px;
		}
		> *:hover,
		active {
			background-color: $mainBG;
			padding: 8px;
		}

		div ~ div {
			margin-left: 20px;
		}
	}
	> *:not(:first-child) {
		margin-top: 20px;
	}

	@media screen and (max-width: $mobile-breakpoint) {
		.jobs div ~ div {
			margin-left: 0px;
		}
	}
}

.project-list {
	.project-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-flow: row wrap;

		& :hover,
		active {
			// background-color: $mainBG-dark;
			h3,
			p,
			a {
				color: $mainBG-black;
				// padding: 0px;
			}
			.img {
				-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
				filter: grayscale(0%);
				padding: 0px;
				width: 180px;
				border-radius: 38px;
			}
		}

		.project {
			flex: 1;
			display: flex;
			flex-direction: column;
			margin: 0px 10px;

			img {
				-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
				filter: grayscale(100%);
				width: 160px;
				height: auto;
				padding: 10px;
				border-radius: 40px;
				transition: all 0.5s ease;
			}
		}
	}

	.project-full {
		background-color: $mainBG-dark;
		display: flex;
		flex-direction: column;
		padding: 20px;
		text-align: left;
		p {
			text-align: left;
			padding: 2px 0px;
			margin: 2px 0px;
		}
		img {
			align-self: center;
			max-width: 80%;
			max-height: 350px;
			object-fit: contain;
			height: auto;
		}
	}
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 2px solid $mainBG-divider;

	> * {
		flex: 1;
	}

	.icons {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		font-size: calc(25px + 2vmin);
	}

	@media screen and (max-width: $mobile-breakpoint) {
		flex-direction: column;
		.icons {
			justify-content: flex-start;
		}
	}
}
