@import 'globals.scss';

//#################### PROPERTIES ####################
.link {
	color: #61dafb;
}

h2 {
	padding: 10px;
	margin: 0px;
}

p {
	margin: 10px;
}

.Global-container {
	background-color: $background-color;
}

//#################### HEADER ####################
.Header {
	// height: $header-height;
	background-color: $primary-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: $text;
	border-bottom: solid black 2px;

	.title {
		flex: 1;
		vertical-align: middle;
	}

	.navbar {
		flex: 1;
		overflow: hidden;
		background-color: $primary-color;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;

		a {
			float: left;
			display: block;
			color: $text;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;

			&:hover {
				background: $text;
				color: $background-color;
			}
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: $primary-color-highlighted;
		width: 100%;

		li {
			float: left;
			flex: 1;
			display: flex;
			flex-direction: row;

			.link {
				display: inline-block;
				color: $text;
				text-align: center;
				padding: 4px 6px;
				text-decoration: none;
				flex: 1;

				&:hover {
					background-color: $background-color;
				}
			}
		}
	}

	.active {
		background-color: $primary-color;
	}
}

//#################### PAGE CONTENT ####################
.Page {
	padding: 0px 20px 0px 20px;
	// flex: 1 1 auto;
	min-height: $page-height;
	background-color: $background-color;
	color: $text;
	-webkit-box-shadow: inset 0 8px 4px -4px $drop-shadow;
	-moz-box-shadow: inset 0 8px 4px -4px $drop-shadow;
	box-shadow: inset 0 8px 4px -4px $drop-shadow;

	//This will space out all children except the first one
	// .content {
	// 	> * {
	// 		display: block;
	// 		margin-top: $content-spacing;
	// 	}

	// 	> *:first-child {
	// 		margin-top: 0px;
	// 	}
	// }
}

.Project {
	background-color: $background-color-light;

	.title {
		padding: 10px;
	}

	.appstore-buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;

		// * {
		// 	margin: 0px 10px 0px 10px;
		// }
	}
}

//#################### FOOTER ####################
.Footer {
	height: $footer-height;
	background-color: $background-color-dark;
	color: $text;
}

//#################### PREFABS ####################
.Button {
	display: flex;
	flex-direction: row;
	padding: $button-padding;
	margin: $button-padding;
	border-radius: 10px;
	background: $primary-color;
	align-items: center;
	justify-content: flex-start;
	width: fit-content;

	.icon {
		width: 20px;
		color: $text;
		margin-right: 10;
	}

	.spacing {
		width: 4px;
	}

	.text {
		min-width: 100px;
		color: $text;
		font-size: 20px;
		font-weight: bold;
		white-space: nowrap;
		// overflow: hidden;
		// text-overflow: ellipsis;
	}

	&:hover {
		background: $primary-color-highlighted;
	}
}

.App-Store-Button {
	width: auto;
	height: 48px;
	margin: 10px;
	// background-color: red;

	// .image {
	// 	padding: 2px;
	// 	height: calc(100% - 4px);
	// 	width: calc(100% - 4px);

	// 	&:hover {
	// 		padding: 0px;
	// 		height: 100%;
	// 		width: 100%;
	// 	}
	// }
}
