$background-color: #353535;
$background-color-dark: #242424;
$background-color-light: #525252;
$primary-color: #5db6c4;
$primary-color-highlighted: #368a97;
$secondary-highlight: #eaf5f7;
$drop-shadow: #00000080;

$text: #eee;

$button-padding: 5px;

$header-height: 64px;
$footer-height: 40px;
$page-height: calc(100vh - 104px);

$content-spacing: 20px;
