$primary-color: #5db6c4;
$primary-color-highlighted: #368a97;

$header-height: 64px;
$page-height: calc(100vh - 100px);
$content-vertical-spacing: calc(calc(100vw - 960px) / 2);

$mainBG: #fff;
$mainBG-dark: #fafafa;
$mainBG-divider: #e7e7e7;

$mainBG-black: #222;

$text: #eee;
$text-dark: #383838;
$text-medium: #999999;
$text-light: #fafafa;

$mobile-breakpoint: 640px;
